<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1><strong>Code4Lib NYS 2016 Midsummer Meeting</strong></h1>
        <h2><a href="#takepart">Registration now open!</a></h2>
        <p class="lead">We're planning a Code4Lib New York State (NYS) regional meeting &amp; unconference on August 4-5, 2016. This meeting will be held at Mann Library, Cornell University. The 2 days will be a mix of scheduled/planned and impropmtu sessions, workshops, lightning talks, and break out sessions.</p>
        <p class="lead">Register and read more about the event below. If you are interested in helping organize, email <a href="mailto:cmh329@cornell.edu">Christina Harlow</a>, <a href="http://bit.ly/c4lNYS16">check out our public planning document</a>, and/or <a href="https://groups.google.com/forum/#!forum/c4lnys-planning">join the C4L NYS 2016 Planning Google Group</a>. You can also start proposing sessions now by using the <a href="#sched">interactive schedule</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
