<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1><strong>Code4Lib NYS 2016 Midsummer Meeting</strong></h1>
        <p class="lead">We're holding a Code4Lib New York State (NYS) regional meeting &amp; unconference on August 4-5, 2016. This meeting will be held at Mann Library, Cornell University. The 2 days will be a mix of scheduled/planned and impropmtu sessions, workshops, lightning talks, and break out sessions.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
