<section id="coc" class="coc">
  <aside class="callout4">
    <div class="text-vertical-center">
      <h1>C4L NYS 2016 Code of Conduct</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About the Code of Conduct</h2>
        <p class="lead">Code4Lib New York State intends to be an open and welcoming event for all who wish to participate. As such, we expect all participants will follow the Code of Conduct. Registration and attendance at this event presumes agreement with this Code of Conduct.
        <br /><br />
        Code4Lib New York State seeks to provide a welcoming, fun, and safe community and conference experience and ongoing community for everyone. We do not tolerate harassment in any form. Discriminatory language and imagery (including sexual) is not appropriate for any event venue, including talks, or any community channel such as the chatroom or mailing list.
        <br /><br />
        Harassment is understood as any behavior that threatens another person or group, or produces an unsafe environment. It includes offensive verbal comments or non-verbal expressions related to gender, gender identity, gender expression, sexual orientation, disability, physical appearance, body size, race, age, religious beliefs, sexual or discriminatory images in public spaces (including online), deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
        <br /><br />
        Please see Code4Lib’s sections on <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">conflict resolutions and sanctions for further information</a></p>
        <h2>Code4Lib NYS 2016 Code of Conduct Contacts</h2>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class="lead"><b>Conference organizer</b>:</td>
              <td class="lead">Christina Harlow, 646-716-1731, <a href="mailto:cmh329@cornell.edu">cmh329@cornell.edu</a>, <a href="https://twitter.com/cm_harlow">@cm_harlow</a></td>
            </tr>
            <tr>
              <td class="lead"><b>Conference helpers</b>: </td>
              <td class="lead">Angela Galvan, 614-721-9919, <a href="https://twitter.com/dropvase">@dropvase</a></td>
            </tr>
            <tr>
              <td class="lead"><b>Cornell Police</b>:</td>
              <td class="lead">607-255-1111</td>
            </tr>
            <tr>
              <td class="lead"><b>Ithaca Police</b>:</td>
              <td class="lead">607-272-9973</td>
            </tr>
            <tr>
              <td class="lead"><b>New York State Police</b>:</td>
              <td class="lead">607-273-4671</td>
            </tr>
            <tr>
              <td class="lead"><b>Advocacy Center (Domestic Violence, Youth Sexual Abuse, and Adult Survivors of Sexual Abuse) 24 hr Hotline</b>:</td>
              <td class="lead">607-277-5000</td>
            </tr>
            <tr>
              <td class="lead"><b>Information and Referral Services of Tompkins County</b>:</td>
              <td class="lead">607-272-9331</td>
            </tr>
            <tr>
              <td class="lead"><b>Ithaca Lesbian, Gay, Bisexual Task Force</b>:</td>
              <td class="lead">607-387-8252</td>
            </tr>
            <tr>
              <td class="lead"><b>Mental Health Services Clinic</b>:</td>
              <td class="lead">607-274-6200</td>
            </tr>
            <tr>
              <td class="lead"><b>Planned Parenthood of Tompkins County</b>:</td>
              <td class="lead">607-273-1513</td>
            </tr>
            <tr>
              <td class="lead"><b>Suicide Prevention and Crisis Service</b>:</td>
              <td class="lead">607-272-1616</td>
            </tr>
            <tr>
              <td class="lead"><b>College Town Taxi</b>:</td>
              <td class="lead">607-588-8888 <i>Note: Services like Uber and Lyft are not yet available in this area of New York State as of April, 2016.</i></td>
            </tr>
          </tbody>
          </table>
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
