<section id="coc" class="coc">
  <aside class="callout4">
    <div class="text-vertical-center">
      <h1>C4L NYS 2016 Code of Conduct</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About the Code of Conduct</h2>
        <p class="lead">Code4Lib New York State intends to be an open and welcoming event for all who wish to participate. As such, we expect all participants will follow the Code of Conduct. Registration and attendance at this event presumes agreement with this Code of Conduct.
        
        Code4Lib New York State seeks to provide a welcoming, fun, and safe community and conference experience and ongoing community for everyone. We do not tolerate harassment in any form. Discriminatory language and imagery (including sexual) is not appropriate for any event venue, including talks, or any community channel such as the chatroom or mailing list.

Harassment is understood as any behavior that threatens another person or group, or produces an unsafe environment. It includes offensive verbal comments or non-verbal expressions related to gender, gender identity, gender expression, sexual orientation, disability, physical appearance, body size, race, age, religious beliefs, sexual or discriminatory images in public spaces (including online), deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

Please see Code4Lib’s sections on <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">conflict resolutions and sanctions for further information</a>

<b>Contacts</b>

Conference organizer: Christina Harlow, 646-716-1731, <a href="https://twitter.com/cm_harlow">@cm_harlow</a>
Conference helpers: Angela Galvan, 614-721-9919, <a href="https://twitter.com/dropvase">@dropvase</a>
Cornell Police: 607-255-1111
Ithaca Police: 607-272-9973
New York State Police: 607-273-4671
Advocacy Center (Domestic Violence, Youth Sexual Abuse, and Adult Survivors of Sexual Abuse)
24 hr Hotline: 607-277-5000
Information and Referral Services of Tompkins County: 607-272-9331
Ithaca Lesbian, Gay, Bisexual Task Force: 607-387-8252
Mental Health Services Clinic: 607-274-6200
Planned Parenthood of Tompkins County: 607-273-1513
Suicide Prevention and Crisis Service: 607-272-1616
College Town Taxi: 607-588-8888. Note: Services like Uber and Lyft are not yet available in this area of New York State as of April, 2016. 
        
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
