<section id="coc" class="coc">
  <aside class="callout4">
    <div class="text-vertical-center">
      <h1>C4L NYS 2016 Code of Conduct</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About the Code of Conduct</h2>
        <p class="lead">Code4Lib New York State intends to be an open and welcoming event for all who wish to participate. As such, we expect all participants will follow the Code of Conduct to be presented here. Registration and attendance at this event presumes agreement with this Code of Conduct.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
