<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Code4Lib NYS 2016 Questions/Issues Contact</h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i> Questions? Email Christina at <a href="mailto:cmh329@cornell.edu">cmh329@cornell.edu</a>
          </li>
          <li><i class="fa fa-twitter fa-fw"></i> Or tweet at Christina at <a href="http://www.twitter.com/cm_harlow">@cm_harlow</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
            <p>Repository for this site</p>
          </li>
        </ul>
        <small><hr/></small>
        <p>Images used on this site are from: ©Cornell University Marketing Group, 301 College Ave, Ithaca, NY 14853; 607-255-7675; photo@cornell.edu; http://marketing.univcomm.cornell.edu.</p>
      </div>
    </div>
  </div>
</footer>
