<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Code4Lib NYS 2016 Unconference</h1>
    <h3>Thursday &amp; Friday, August 4-5, 2016 at Cornell University, Ithaca, New York</h3>
    <br>
    <p><a href="#about" class="btn btn-dark btn-lg">Find Out More</a> <a href="#takepart" class="btn btn-dark btn-lg">Take Part!</a> <a href="#sched" class="btn btn-dark btn-lg">Schedule</a> <a href="#coc" class="btn btn-dark btn-lg">Code of Conduct</a> <a href="#participants" class="btn btn-dark btn-lg">Participants</a> <a href="#logistics" class="btn btn-dark btn-lg">Logistics</a> <a href="#sponsors" class="btn btn-dark btn-lg">Sponsors</a> <a href="#contact" class="btn btn-dark btn-lg">Contact</a></p>
  </div>
</header>
