<section id="logistics" class="logistics">
  <aside class="callout">
    <div class="text-vertical-center">
      <h1>C4L NYS 2016 Logistics</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">Also see <a href="http://bit.ly/c4lNYS16logistics">bit.ly/c4lNYS16logistics</a> for more details..</p>
        <h2>Where</h2>
        <p class="lead">Mann Library Rooms 160 (primary room) and 100, 102, 030a (workshop/breakout spaces). Mann Library is on the West side of the 'Agriculture Quad' on the Cornell University campus in Ithaca, New York. See the <a href="#map">map below</a> for getting around the Cornell campus.</p>
        <hr/>

        <h2>When</h2>
        <p class="lead">Thursday and Friday, August 4-5, 2016. The schedule will run approximately 9 AM to 5 PM on both days, with a break for lunch on your own. See the <a href="#sched">Schedule</a>.</p>
        <hr />

        <h2>Lodging</h2>
        <p class="lead">For participants looking to save some money, we have a small number of Cornell University Dorm rooms available for booking. These rooms are in the Carl Becker House on Cornell’s West Campus, about a 15 minute walk to Mann Library. Be warned, the walk is partially up a steep – but very pretty – hill. Email <a href="mailto:cmh329@cornell.edu">Christina</a> if you are interested in learning more about this option.</p>

        <p class="lead">We are not designating a hotel or hotel block for this event, but are very happy to help with recommendations for the area - See the <a href="#contact">Contact</a> information below.</p>
        <hr/>

        <h2>Getting to/from Ithaca and Cornell</h2>

          <h3>Driving</h3>
            <p class="lead">For driving directions to the Cornell campus, <a href="http://www.statlerhotel.cornell.edu/maps_and_directions/documents/Direction-to-the-Statler-Hotel.pdf">here is a general driving guide</a> to a nearby spot on the campus - however, you will still need to stop by the Visitor Information and Parking Booth for a parking permit (see below). Use the map below to fine tune your directions.</p>
            <p class="lead">You can opt to park on the Cornell campus or to park off-campus and take an Ithaca/Tompkins County City Bus (or walk). To park on the Cornell campus, check out the <a href="https://transportation.fs.cornell.edu/parking/campusparking/visitors/booth_info.cfm">Cornell University Visitor Information and Parking Booth website.</a> The Visitor Booth locations are pinned on the <a href="#map">map, below</a>. For city bus options, see below ("Getting Around Ithaca").</p>

          <h3>Taking a Bus to Ithaca</h3>
            <p class="lead">Depending on where you're coming from, there are a number of buslines that serve the Ithaca Bus Terminal:
              <ul class="lead">
                <li style="text-align:left"><a href="http://www.coachusa.com/shortline/">Shortline</a></li>
                <li style="text-align:left"><a href="http://www.greyhound.com/">Greyhound</a></li>
              </ul></p>
            <p class="lead">If you are traveling from New York City to Ithaca, you should also consider these NYC to Ithaca bus options:
              <ul class="lead">
                <li style="text-align:left"><a href="https://transportation.fs.cornell.edu/coach/">Cornell Campus to Campus Express</a></li>
                <li style="text-align:left"><a href="http://bigredbullet.com/">Big Red Bullet</a></li>
              </ul></p>
            <p class="lead">Unfortunately, the closest train station to Ithaca is in Syracuse, about an hour drive north.</p>

          <h3>Flying</h3>
            <p class="lead">Our small but loveable local airport is the <a href="http://flyithaca.com/">Ithaca Tompkins Regional Airport</a>, located a few miles from the heart of the Cornell campus. These airlines currently offer direct service to the Ithaca Airport:
              <ul class="lead">
                <li style="text-align:left"><a href="https://www.aa.com/">American to/from: Philadelphia International Airport</a></li>
                <li style="text-align:left"><a href="http://www.delta.com/">Delta to/from: Detroit Metro International Airport</a></li>
                <li style="text-align:left"><a href="https://www.united.com/">United to/from: Newark Liberty International Airport</a></li>
              </ul>
            </p>

          <h3>Getting Around Ithaca</h3>
            <p class="lead">For getting around Ithaca, check out the Tompkins County Area Transit - aka TCAT, the city bus system. Here is the <a href="http://tcat.nextinsight.com/">TCAT trip planner website</a>.</p>
          <hr />

        <h2>Food, Drink &amp; Entertainment</h2>
          <p class="lead">Ithaca has a great restaurant and nightlife scene. We will be working on getting some recommendations for you on the site in the near Spring. Some possible places for breakfast and lunch are marked on the <a href="#map">map below</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<section id="map" class="map">
  <iframe id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.google.com/maps/d/u/0/embed?mid=zfQIvrfoPtSE.kGKkJ8SIjmoM"
    allowfullscreen>
  </iframe>
  <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.google.com/maps/d/u/0/embed?mid=zfQIvrfoPtSE.kGKkJ8SIjmoM"
    allowfullscreen>
  </small>
</section>
