<section id="logistics" class="logistics">
  <aside class="callout">
    <div class="text-vertical-center">
      <h1>C4L NYS 2016 Logistics</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Where</h2>
        <p class="lead">Mann Library Rooms 160 (primary room) and 102 (workshop/breakout space). Mann Library is on the West side of the 'Agriculture Quad' on the Cornell University campus in Ithaca, New York. See the map below for getting around the Cornell campus.</p>
        <h2>When</h2>
        <p class="lead">Thursday and Friday, August 4-5, 2016. The schedule will run approximately 9 AM to 5 PM on both days, with a break for lunch on your own. A schedule will be released later this Spring, along with other logistical information.</p>
        <h2>Code of Conduct</h2>
        <h2>Lodging</h2>
        <h2>Getting to/from Ithaca and Cornell</h2>
        <h2>Food, Drink &amp; Entertainment</h2>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
