<section id="participants" class="services bg-primary">
  <aside class="callout2">
    <div class="text-vertical-center">
      <h1>List of Participants</h1>
      <br />
      <p>(Updated daily, at the end of the day)</p>
      <br />
    </div>
  </aside>
  <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <tr><td>Becca Bley, Daemen College</td> <td>Jennifer Brown, Columbia University</td></tr>
            <tr><td>Jesse Brown, New York State Archives</td> <td>Allison Brown, SUNY Geneseo</td></tr>
            <tr><td>Buddha Buck, Cornell University</td> <td>Gillian Byrne, Ryerson University</td></tr>
            <tr><td>Magdianamy Carrillo, Rochester Public Library</td> <td>Adam Chandler, Cornell</td></tr>
            <tr><td>Darren Chase, Stony Brook University Libraries</td> <td>Naun Chew, Cornell University</td></tr>
            <tr><td>Jennifer Colt, Cornell University</td> <td>Esmé Cowles, Princeton</td></tr>
            <tr><td>Jeremy Cusker, Cornell University Library</td> <td>Lisa DeLuca, Seton Hall University</td></tr>
            <tr><td>Juan Denzer, Binghamton university</td> <td>Dianne Dietrich, Cornell University Library</td></tr>
            <tr><td>Brian Dobreski, Syracuse University</td> <td>Richard Entlich, Independent Library Data Analyst/Consultant</td></tr>
            <tr><td>John Fink, McMaster University</td> <td>Tim Fitzpatrick</td></tr>
            <tr><td>David Fuller, Union College</td> <td>Angela Galvan, SUNY Geneseo</td></tr>
            <tr><td>Melissa Gasparotto, Rutgers University Libraries</td> <td>Ron Gilmour, Ithaca College Library</td></tr>
            <tr><td>Bonnie Gordon, Rockefeller Archive Center</td> <td>Peter Green, Princeton University Library</td></tr>
            <tr><td>Christina Harlow, Cornell University</td> <td>Dana Haugh, Stony Brook University Libraries</td></tr>
            <tr><td>Diane Hillmann, Metadata Management Associates LLC</td> <td>Ben Hockenberry, St. John Fisher College</td></tr>
            <tr><td>Patricia Hswe, Penn State University</td> <td>Keith Jenkins, Cornell University</td></tr>
            <tr><td>Erica Johns, Cornell University</td> <td>Ryan Johnson, UC San Diego</td></tr>
            <tr><td>Deirdre Joyce, NY Heritage Digital Collections/CLRC</td> <td>Francis Kayiwa, Virginia Polytechnic and State University</td></tr>
            <tr><td>Tom Keays, Le Moyne College</td> <td>Lauren Kehoe, St. Joseph's College</td></tr>
            <tr><td>Huda Khan</td> <td>Matthew Kopel, Central New York Library Resources Council</td></tr>
            <tr><td>Jason Kovari, Cornell University</td> <td>Jamie Kutzuba, Hobart and William Smith Colleges</td></tr>
            <tr><td>Cindy Li</td> <td>Jon Lorang, Guilderland Public Library</td></tr>
            <tr><td>Monica Maceli, Pratt Institute | School of Information</td> <td>Peter Martinez, Cornell University</td></tr>
            <tr><td>Melissa McElroy-Elve, Syracuse City SD Danforth Middle</td> <td>James McHugh, Nassau Library System</td></tr>
            <tr><td>John Mignault, Metropolitan NY Library Council</td> <td>Aaron Neslin, Onondaga County Public Library</td></tr>
            <tr><td>Youn Noh, Yale University</td> <td>Michelle Paolillo, Cornell</td></tr>
            <tr><td>David Phillips, Cornell Library</td> <td>Tahir Poduska, Cornell University</td></tr>
            <tr><td>Meredith Powers, Brooklyn Public Library</td> <td>Joyce Rambo, University at Albany</td></tr>
            <tr><td>E Lynette Rayle, Cornell University</td> <td>Tara Robertson</td></tr>
            <tr><td>Nick Ruest, York University</td> <td>Devin Sanera, Olin Library Research and Learning Services</td></tr>
            <tr><td>Mark Sandford, Colgate University</td> <td>Phil Shen, Einstein</td></tr>
            <tr><td>Zachary Spalding, Southeastern NY Library Resources Council</td> <td>Chris Stanton, Metropolitan New York Library Council</td></tr>
            <tr><td>Jon Stroop, Princeton University Library</td> <td>Nikitas Tampakis, Princeton University Library</td></tr>
            <tr><td>Martha Tenney, Barnard College</td> <td>Alevtina Verbovetskaya, City University of New York</td></tr>
            <tr><td>Melissa Wallace, Cornell</td> <td>Simeon Warner, Cornell</td></tr>
            <tr><td>Saebra Waterstraut, Pratt Institute</td> <td>Frances Webb, Cornell University</td></tr>
            <tr><td>Heidi Webb, SUNY College of Environmental Science &amp; Forestry</td> <td>Kerri Willette, Metropolitan New York Library Council (METRO)</td></tr>
            <tr><td>Andrew Woods, DuraSpace</td> <td>Jing Xu, Syracuse City Schools</td></tr>
            <tr><td></td><td></td></tr>
        </tbody>
      </table>
  </div>
</section>
