<section id="participants" class="services bg-primary">
  <aside class="callout2">
    <div class="text-vertical-center">
      <h1>List of Participants</h1>
      <br />
      <p>(Updated daily, at the end of the day)</p>
      <br />
    </div>
  </aside>
  <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <tr><td>Margaret Ambrose, Cornell Law Library</td> <td>Heidi Bamford, Western New York Library Resources Council</td></tr>
            <tr><td>Becca Bley, Daemen College</td> <td>Jennifer Brown, Columbia University</td></tr>
            <tr><td>Jesse Brown, New York State Archives</td> <td>Allison Brown, SUNY Geneseo</td></tr>
            <tr><td>Buddha Buck, Cornell University</td> <td>Gillian Byrne, Ryerson University</td></tr>
            <tr><td>Magdianamy Carrillo, Rochester Public Library</td> <td>Adam Chandler, Cornell</td></tr>
            <tr><td>Darren Chase, Stony Brook University Libraries</td> <td>Naun Chew, Cornell University</td></tr>
            <tr><td>John Cline, CUL-IT</td> <td>Jennifer Colt, Cornell University</td></tr>
            <tr><td>Julia Corrice, South Central Regional Library Council</td> <td>Laura Costello, Stony Brook University</td></tr>
            <tr><td>Esmé Cowles, Princeton</td> <td>Jeremy Cusker, Cornell University Library</td></tr>
            <tr><td>Robin Davis, John Jay College of Criminal Justice, CUNY</td> <td>Juan Denzer, Binghamton university</td></tr>
            <tr><td>Dianne Dietrich, Cornell University Library</td> <td>Brian Dobreski, Syracuse University</td></tr>
            <tr><td>Wayne Ellenberger, Penn State</td> <td>Edward Elsner, Oswego Public Library</td></tr>
            <tr><td>Richard Entlich, Independent Library Data Analyst/Consultant</td> <td>Christine Eslao, Harvard Library Information &amp; Technical Services</td></tr>
            <tr><td>Brandon Fess, Rochester Public Library</td> <td>David Fiander, University of Western Ontario</td></tr>
            <tr><td>John Fink, McMaster University</td> <td>Tim Fitzpatrick</td></tr>
            <tr><td>Nancy Fong, University of Toronto</td> <td>Christine Fournier, Mann LIbrary</td></tr>
            <tr><td>Heidi Frank, New York University</td> <td>David Fuller, Union College</td></tr>
            <tr><td>Angela Galvan, SUNY Geneseo</td> <td>Melissa Gasparotto, Rutgers University Libraries</td></tr>
            <tr><td>Ron Gilmour, Ithaca College Library</td> <td>Bonnie Gordon, Rockefeller Archive Center</td></tr>
            <tr><td>Donald Gramlich, University at Buffalo</td> <td>Peter Green, Princeton University Library</td></tr>
            <tr><td>Christina Harlow, Cornell University</td> <td>Liza Harrell-Edge, The New School</td></tr>
            <tr><td>Dana Haugh, Stony Brook University Libraries</td> <td>Heather Highfield</td></tr>
            <tr><td>Diane Hillmann, Metadata Management Associates LLC</td> <td>Ben Hockenberry, St. John Fisher College</td></tr>
            <tr><td>Patricia Hswe, Penn State University</td> <td>Keith Jenkins, Cornell University</td></tr>
            <tr><td>Erica Johns, Cornell University</td> <td>Ryan Johnson, UC San Diego</td></tr>
            <tr><td>Reed Jones, University at Buffalo</td> <td>Deirdre Joyce, NY Heritage Digital Collections/CLRC</td></tr>
            <tr><td>Francis Kayiwa, Virginia Polytechnic and State University</td> <td>Tom Keays, Le Moyne College</td></tr>
            <tr><td>Lauren Kehoe, St. Joseph's College</td> <td>Huda Khan</td></tr>
            <tr><td>Arden Kirkland</td> <td>Matthew Kopel, Central New York Library Resources Council</td></tr>
            <tr><td>Jason Kovari, Cornell University</td> <td>Jamie Kutzuba, Hobart and William Smith Colleges</td></tr>
            <tr><td>Cindy Li</td> <td>Jon Lorang, Guilderland Public Library</td></tr>
            <tr><td>Daniel Lovins, NYU</td> <td>Monica Maceli, Pratt Institute | School of Information</td></tr>
            <tr><td>Peter Martinez, Cornell University</td> <td>Melissa McElroy-Elve, Syracuse City SD Danforth Middle</td></tr>
            <tr><td>James McHugh, Nassau Library System</td> <td>John Mignault, Metropolitan NY Library Council</td></tr>
            <tr><td>Aaron Neslin, Onondaga County Public Library</td> <td>Youn Noh, Yale University</td></tr>
            <tr><td>Michelle Paolillo, Cornell</td> <td>Tracy Paradis, SUNY Geneseo</td></tr>
            <tr><td>Joseph	Pawletko, New York University</td> <td>Kim Pham, University of Toronto SCARBOROUGH</td></tr>
            <tr><td>Jessica Philippe, South Central Regional Library Council</td> <td>David Phillips, Cornell Library</td></tr>
            <tr><td>Tahir Poduska, Cornell University</td> <td>Meredith Powers, Brooklyn Public Library</td></tr>
            <tr><td>Joyce Rambo, University at Albany</td> <td>Rasan Rasch, NYU Digital Library</td></tr>
            <tr><td>E Lynette Rayle, Cornell University</td> <td>james reidy, Cornell University Library</td></tr>
            <tr><td>Tara Robertson</td> <td>Luisa Sabin-Kildiss, Moffat Library of Washingtonville</td></tr>
            <tr><td>Devin Sanera, Olin Library Research and Learning Services</td> <td>Mark Sandford, Colgate University</td></tr>
            <tr><td>Karen Schwentner, Penn State</td> <td>Phil Shen, Einstein</td></tr>
            <tr><td>Zachary Spalding, Southeastern NY Library Resources Council</td> <td>Chris Stanton, Metropolitan New York Library Council</td></tr>
            <tr><td>Jon Stroop, Princeton University Library</td> <td>Nikitas Tampakis, Princeton University Library</td></tr>
            <tr><td>Martha Tenney, Barnard College</td> <td>Alevtina Verbovetskaya, City University of New York</td></tr>
            <tr><td>Melissa Wallace, Cornell</td> <td>Simeon Warner, Cornell</td></tr>
            <tr><td>Saebra Waterstraut, Pratt Institute</td> <td>Frances Webb, Cornell University</td></tr>
            <tr><td>Heidi Webb, SUNY College of Environmental Science &amp; Forestry</td> <td>Kerri Willette, Metropolitan New York Library Council (METRO)</td></tr>
            <tr><td>Andrew Woods, DuraSpace</td> <td>Jing Xu, Syracuse City Schools</td></tr>
            <tr><td></td><td></td></tr>
        </tbody>
      </table>
  </div>
</section>
