<section id="participants" class="services bg-primary">
  <aside class="callout2">
    <div class="text-vertical-center">
      <h1>List of Participants</h1>
      <br />
    </div>
  </aside>
  <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <tr><td>Margaret Ambrose, Cornell Law Library</td> <td>Heidi Bamford, Western New York Library Resources Council</td></tr>
            <tr><td>Mira Basara, DSPS, Cornell University</td> <td>Becca Bley, Daemen College</td></tr>
            <tr><td>Jennifer Brown, Columbia University</td> <td>Jesse Brown, New York State Archives</td></tr>
            <tr><td>Allison Brown, SUNY Geneseo</td> <td>Buddha Buck, Cornell University</td></tr>
            <tr><td>Gillian Byrne, Ryerson University</td> <td>Magdianamy Carrillo, Rochester Public Library</td></tr>
            <tr><td>Adam Chandler, Cornell</td> <td>Darren Chase, Stony Brook University Libraries</td></tr>
            <tr><td>Steve Chervenak, Kent State University</td> <td>Naun Chew, Cornell University</td></tr>
            <tr><td>John Cline, CUL-IT</td> <td>Jennifer Colt, Cornell University</td></tr>
            <tr><td>Julia Corrice, South Central Regional Library Council</td> <td>Laura Costello, Stony Brook University</td></tr>
            <tr><td>Esmé Cowles, Princeton</td> <td>Jeremy Cusker, Cornell University Library</td></tr>
            <tr><td>Robin Davis, John Jay College of Criminal Justice, CUNY</td> <td>Juan Denzer, Binghamton university</td></tr>
            <tr><td>Dianne Dietrich, Cornell University Library</td> <td>Brian Dobreski, Syracuse University</td></tr>
            <tr><td>Ashley Downs, Cornell University</td> <td>Edward Elsner, Oswego Public Library</td></tr>
            <tr><td>Richard Entlich, Independent Library Data Analyst/Consultant</td> <td>Christine Eslao, Harvard Library Information &amp; Technical Services</td></tr>
            <tr><td>Brandon Fess, Rochester Public Library</td> <td>David Fiander, University of Western Ontario</td></tr>
            <tr><td>John Fink, McMaster University</td> <td>Tim Fitzpatrick</td></tr>
            <tr><td>Nancy Fong, University of Toronto</td> <td>Heidi Frank, New York University</td></tr>
            <tr><td>David Fuller, Union College</td> <td>Angela Galvan, SUNY Geneseo</td></tr>
            <tr><td>Melissa Gasparotto, Rutgers University Libraries</td> <td>Ron Gilmour, Ithaca College Library</td></tr>
            <tr><td>Bonnie Gordon, Rockefeller Archive Center</td> <td>Donald Gramlich, University at Buffalo</td></tr>
            <tr><td>Peter Green, Princeton University Library</td> <td>Christina Harlow, Cornell University</td> </tr>
            <tr><td>Dana Haugh, Stony Brook University Libraries</td> <td>Heather Highfield</td></tr>
            <tr><td>Nate Hill, metro</td> <td>Diane Hillmann, Metadata Management Associates LLC</td></tr>
            <tr><td>Ben Hockenberry, St. John Fisher College</td> <td>Patricia Hswe, Penn State University</td></tr>
            <tr><td>Keith Jenkins, Cornell University</td> <td>Erica Johns, Cornell University</td></tr>
            <tr><td>Ryan Johnson, UC San Diego</td> <td>Reed Jones, University at Buffalo</td></tr>
            <tr><td>Francis Kayiwa, Virginia Polytechnic and State University</td> <td>Tom Keays, Le Moyne College</td></tr>
            <tr><td>Lauren Kehoe, St. Joseph's College</td> <td>Huda Khan</td></tr>
            <tr><td>Matthew Kopel, Central New York Library Resources Council</td> <td>Jason Kovari, Cornell University</td> </tr>
            <tr><td>Jamie Kutzuba, Hobart and William Smith Colleges</td> <td>Cindy Li</td></tr>
            <tr><td>Jon Lorang, Guilderland Public Library</td> <td>Daniel Lovins, NYU</td></tr>
            <tr><td>Monica Maceli, Pratt Institute | School of Information</td> <td>Peter Martinez, Cornell University</td></tr>
            <tr><td>Melissa McElroy-Elve, Syracuse City SD Danforth Middle</td> <td>James McHugh, Nassau Library System</td></tr>
            <tr><td>John Mignault, Metropolitan NY Library Council</td> <td>Aaron Neslin, Onondaga County Public Library</td></tr>
            <tr><td>Youn Noh, Yale University</td> <td>Michelle Paolillo, Cornell</td></tr>
            <tr><td>Tracy Paradis, SUNY Geneseo</td> <td>Kim Pham, University of Toronto SCARBOROUGH</td></tr>
            <tr><td>Jessica Philippe, South Central Regional Library Council</td> <td>David Phillips, Cornell Library</td></tr>
            <tr><td>Tahir Poduska, Cornell University</td> <td>Meredith Powers, Brooklyn Public Library</td></tr>
            <tr><td>Joyce Rambo, University at Albany</td> <td>Rasan Rasch, NYU Digital Library</td></tr>
            <tr><td>E Lynette Rayle, Cornell University</td> <td>james reidy, Cornell University Library</td></tr>
            <tr><td>Tara Robertson</td> <td>Devin Sanera, Olin Library Research and Learning Services</td></tr>
            <tr><td>Mark Sandford, Colgate University</td> <td>Karen Schwentner, Penn State</td></tr>
            <tr><td>Phil Shen, Einstein</td> <td>Chris Stanton, Metropolitan New York Library Council</td></tr>
            <tr><td>Jon Stroop, Princeton University Library</td> <td>Nikitas Tampakis, Princeton University Library</td></tr>
            <tr><td>Martha Tenney, Barnard College</td> <td>Alevtina Verbovetskaya, City University of New York</td></tr>
            <tr><td>Melissa Wallace, Cornell</td> <td>Simeon Warner, Cornell</td></tr>
            <tr><td>Saebra Waterstraut, Pratt Institute</td> <td>Frances Webb, Cornell University</td></tr>
            <tr><td>Heidi Webb, SUNY College of Environmental Science &amp; Forestry</td> <td>Kerri Willette, Metropolitan New York Library Council (METRO)</td></tr>
            <tr><td>Andrew Woods, DuraSpace</td> <td>Jing Xu, Syracuse City Schools</td></tr>
            <tr><td></td><td></td></tr>
        </tbody>
      </table>
  </div>
</section>
