<section id="sched" class="sched">
  <aside class="callout3">
    <div class="text-vertical-center">
      <h1>Schedule &amp; How to Propose a Session</h1>
    </div>
  </aside>
  <div class="container">
      <div class="col-lg-12 text-center">
      <h2><strong>About and How to Propose</strong></h2>
      <p class="lead">Below is the general schedule for the Code4Lib New York State Event, but you’re encouraged to read and add your ideas, proposals, interest, or comments to the <a href="http://bit.ly/c4lNYS16sched">interactive schedule (this opens an editable Google Document at <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a>)</a>.</p>
      <p class="lead">We want this event to be a mix of both unscheduled and impromptu sessions as well as prepared workshops and presentations. This can help bring folks together to work, learn and play, but also frame the work (and play) being done. Prepared sessions and speakers will be added as they are confirmed.</p>
      <h2><strong>Schedule Overview</strong></h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan=4 class="lead"><strong>Day 1: Thursday, August 4th</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="lead">9 AM to Noon</td>
              <td class="lead">Fedora 4 Workshop: Part 1</td>
              <td class="lead">Library Carpentry Workshop: Part 1</td>
              <td class="lead">WriteTheDocs/General Breakouts</td>
            </tr>
            <tr>
              <td class="lead">Noon to 1:30 PM</td>
              <td colspan=3 class="lead">Lunch (on your own)</td>
            </tr>
            <tr>
              <td class="lead">1:30 PM to 3:45 PM</td>
              <td colspan=3 class="lead">Breakout Sessions (see <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a> for proposed sessions so far or to propose one)</td>
            </tr>
            <tr>
              <td class="lead">4 PM - 5 PM</td>
              <td colspan=3 class="lead"><b>Invited Speaker: <a href='http://patriciahswe.net/'>Patricia Hswe</a></b></td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th colspan=4 class="lead"><strong>Day 2: Friday, August 5th</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="lead">9 AM to Noon</td>
              <td class="lead">Fedora 4 Workshop 1: Part 2</td>
              <td class="lead">Library Carpentry Workshop: Part 2</td>
              <td class="lead">WriteTheDocs/General Breakouts</td>
            </tr>
            <tr>
              <td class="lead">Noon to 1:30 PM</td>
              <td colspan=3 class="lead">Lunch (on your own)</td>
            </tr>
            <tr>
              <td class="lead">1:30 PM to 2:45 PM</td>
              <td colspan=3 class="lead">Breakout Sessions (see <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a> for proposed sessions so far or to propose one)</td>
            </tr>
            <tr>
              <td class="lead">3 PM to 3:45 PM</td>
              <td colspan=3 class="lead">Lightning Talks (in order of sign-ups, as time allows)</td>
            </tr>
            <tr>
              <td class="lead">4 PM - 5 PM</td>
              <td colspan=3 class="lead"><b>Invited Speaker: <a href='http://tararobertson.ca'>Tara Robertson</a></b></td>
            </tr>
          </tbody>
        </table>
         <p class="lead">Again, read about proposed sessions as well as propose your own on the <a href="http://bit.ly/c4lNYS16sched">interactive schedule (this opens an editable Google Document at <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a>)</a>.</p>
    </div>
    <!-- /.row -->
  </div>
</section>
