<section id="sched" class="sched">
  <aside class="callout3">
    <div class="text-vertical-center">
      <h1>Schedule</h1>
    </div>
  </aside>
  <div class="container">
      <div class="col-lg-12 text-center">
      <h2><strong>About</strong></h2>
      <p class="lead">Below is the general schedule for the Code4Lib New York State Event, but you’re encouraged to read and add your ideas, proposals, interest, or comments to the <a href="http://bit.ly/c4lNYS16sched">interactive schedule (this opens an editable Google Document at <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a>)</a>.</p>
      <p class="lead">We want this event to be a mix of both unscheduled and impromptu sessions as well as prepared workshops and presentations. This can help bring folks together to work, learn and play, but also frame the work (and play) being done.</p>
      <h2><strong>Schedule Overview</strong></h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan=4 class="lead"><strong>Day 1: Thursday, August 4th</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="lead">9 to 9:20 AM</td>
              <td colspan=3 class="lead">General Introduction (Mann 160)</td>
            </tr>
            <tr>
              <td class="lead">9:30 to Noon</td>
              <td class="lead">Fedora 4 Workshop: Part 1 (Mann 103)<br />
              <i>led by Esmé Cowles, Andrew Woods</i></td>
              <td class="lead">Command Line Interface Workshop: Part 1 (Mann 112)<br />
              <i>led by Francis Kayiwa</i></td>
              <td class="lead">WriteTheDocs Bootcamp: Part 1 (Mann 160)<br />
              <i>led by Gillian Byrne, Christina Harlow</i></td>
            </tr>
            <tr>
              <td class="lead">Noon to 1:30 PM</td>
              <td colspan=3 class="lead">Lunch (on your own)</td>
            </tr>
            <tr>
              <td class="lead">1:30 to 2:30 PM</td>
              <td colspan=3 class="lead"><a href="https://docs.google.com/document/d/1c4s1AZp0uSmAlGJ1r10yieYgBQrh5YUkaUFEPDsBJXo/edit#heading=h.8gjv5h2h6mx8">Breakout Sessions 1 </a>(see <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a> or check Mann 160)</td>
            </tr>
            <tr>
              <td class="lead">2:45 to 3:45 PM</td>
              <td colspan=3 class="lead"><a href="https://docs.google.com/document/d/1c4s1AZp0uSmAlGJ1r10yieYgBQrh5YUkaUFEPDsBJXo/edit#heading=h.3wy4e9vvlpqs">Breakout Sessions 2 </a>(see <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a> or check Mann 160)</td>
            </tr>
            <tr>
              <td class="lead">4 - 5 PM</td>
              <td colspan=3 class="lead">&#9734; <b>Invited Speaker: <a href='http://patriciahswe.net/'>Patricia Hswe</a></b> &#9734; (Mann 160)</td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th colspan=4 class="lead"><strong>Day 2: Friday, August 5th</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="lead">9 AM to Noon</td>
              <td class="lead">Fedora 4 Workshop 1: Part 2 (Mann 103)<br />
              <i>led by Esmé Cowles, Andrew Woods</i></td>
              <td class="lead">Command Line Interface Workshop: Part 2 (Mann 112)<br />
              <i>led by Francis Kayiwa</i></td>
              <td class="lead">WriteTheDocs Bootcamp: Part 2 (Mann 160)<br />
              <i>led by Gillian Byrne, Christina Harlow</i></td>
            </tr>
            <tr>
              <td class="lead">Noon to 1:30 PM</td>
              <td colspan=3 class="lead">Lunch (on your own)</td>
            </tr>
            <tr>
              <td class="lead">1:30 PM to 2:45 PM</td>
              <td colspan=3 class="lead"><a href="https://docs.google.com/document/d/1c4s1AZp0uSmAlGJ1r10yieYgBQrh5YUkaUFEPDsBJXo/edit#heading=h.2y582vzavlp8">Breakout Sessions 3 </a>(see <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a> or check Mann 160)</td>
            </tr>
            <tr>
              <td class="lead">3 PM to 3:45 PM</td>
              <td colspan=3 class="lead"><a href="https://docs.google.com/document/d/1c4s1AZp0uSmAlGJ1r10yieYgBQrh5YUkaUFEPDsBJXo/edit#heading=h.j8ovekvmnqs3">Lightning Talks (in order of sign-ups, as time allows) (Mann 160)</a></td>
            </tr>
            <tr>
              <td class="lead">4 PM - 5 PM</td>
              <td colspan=3 class="lead">&#9734; <b>Invited Speaker: <a href='http://tararobertson.ca'>Tara Robertson</a> &#9734; (Mann 160)</b></td>
            </tr>
          </tbody>
        </table>
         <p class="lead">Read about proposed sessions as well as propose your own on the <a href="http://bit.ly/c4lNYS16sched">interactive schedule (this opens an editable Google Document at <a href="http://bit.ly/c4lNYS16sched">http://bit.ly/c4lNYS16sched</a>)</a>.</p>
    </div>
    <!-- /.row -->
  </div>
</section>
