<section id="sponsors" class="services bg-primary">
  <aside class="callout2">
    <div class="text-vertical-center">
      <h1>Sponsors</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">Thank you very much to our sponsors for making this happen. If your organization is interesting in sponsoring the Code4Lib New York State 2016 Unconference, email Christina Harlow at cmh329@cornell.edu. Thank you!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a style="color:white;text-decoration:none" href="http://library.cornell.edu"><h1><img src="../img/CU-Insignia-White-120.png" /> Cornell University Library</h1></a>
        <br/>
        <a style="color:white;text-decoration:none;font-family:serif" href="https://www.esln.org/"><h1><img height="120px" src="../img/ESLN_logo_grayscale-reverse.png" /> Empire State Library Network</h1></a>
      </div>
    </div>
  </div>
</section>
