<section id="takepart" class="services bg-primary">
  <aside class="callout2">
    <div class="text-vertical-center">
      <h1>Take Part!</h1>
    </div>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><strong>Help Organize/Volunteer</strong></h2>
        <p class="lead">Interested in helping us organize this event? Join the C4L NYS 2016 Planning Google Group and share your talents.</p>
        <a href="https://groups.google.com/forum/#!forum/c4lnys-planning" class="btn btn-light">C4LNYS 2016 Org Group</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><strong>Register to Attend</strong></h2>
        <p class="lead">Registration will be free, but limited to a certain number. Registration will be made available on this site later in May.</p>
        <a href="#" class="btn btn-light">Register (Open this May)</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><strong>Propose a Session</strong></h2>
        <p class="lead">Use the interactive schedule (below) to view the proposed and prepared sessions, express interest in breakouts, sign up for a lightning talk, or propose your own sessions! Explanations of the format and mix of impromptu and prepared sessions can be found in that interactive schedule. <strong>There will be a chance to propose and vote on sessions at the event as well.</strong></p>
        <a href="#sched" class="btn btn-light">Schedule</a>
      </div>
    </div>
  </div>
</section>
